name: CD Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_KEY }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          port: 22
          script: |
            echo "SSH connected!"
            whoami
            pwd
            ls -la
            cd ~/node-js-sample || mkdir -p ~/node-js-sample
            git remote -v
            git pull myrepo main
            npm install
            pm2 restart all || pm2 start index.js --name nodejs-app
